
/* Start Background Section */

*{
  transition: all 1s;
  box-sizing: border-box;
  /* max-width: 100%; */
}

.logo-image{
  position: fixed;
  height: 50px;
  width: 50px;
  top: 0;
  left: 0;
  z-index: 1px;
}

html, body{
  max-width: 100%;
  overflow-x: hidden;
  perspective: 600px;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(to bottom left,#000046, #1CB5E0);
  background-size: 400% 400%;
  /* animation: gradientAnimation 20s linear infinite; */
  overflow: auto;
  background-repeat: no-repeat;
}

.cursor-effect {
  position: absolute;
  width: 60px;
  height: 60px;
  background: radial-gradient(circle, rgba(255,255,255,0.5), rgba(255,255,255,0));
  border-radius: 50%;
  pointer-events: none;
  filter: blur(10px);
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease-out, opacity 0.5s ease-out;
}

.news-hr{
  height: 2px;
  background-color: rgba(255, 0, 0, 0.657);
  display: block;
  width: 100%;
  border: none;
}

/* End Background Section */

/* Start NavBar Section */

.navbar {
  width: 100%;
  background: linear-gradient(to left, #334dac4a, #081F5C4a);
  padding: 10px 0;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
}

.navbar:hover{
  transform: scale(1.2);
}

.navbar:hover h4{
  font-size: 22px;
  font-weight: 800;
}

.moving-text {
  color: #fff;
  display: inline-block;
  min-width: 100%;
  font-size: 20px;
  font-weight: bold;
  animation: marquee 8s linear infinite;
}

@media (min-width: 768px) {
  .moving-text {
    animation-duration: 5s;
  }
}

@media (min-width: 1200px) {
  .moving-text {
    animation-duration: 20s;
    animation: marquee 10s cubic-bezier(0.00001, 0.6, 0.4, 0.4) infinite;
  }
  @keyframes marquee {
    from { transform: translateX(-5%); }
    to { transform: translateX(5%); }
  }
}

@keyframes marquee {
  from { transform: translateX(-100%); }
  to { transform: translateX(100%); }
}

/* End NavBar Section */

/* Start Header Links Section */

/* Week title */
.week-title{
  text-align: center;
  font-weight: 800;
  font-size: 220%;
  color: #E7F1FF;
}

.header-links{
  width: 80%;
}

.header-links .row a, .gpa-section .first-link a{
  background-color: #7096D1;
  color: #E7F1FF;
  font-weight: 800;
  border-radius: 20px;
  letter-spacing: 1px;
  font-size: 120%;
  box-shadow: 1px 1px 10px 1px #334eac;
}

.header-links .row a:hover, .gpa-section .first-link a:hover{
  box-shadow: 10px 10px 10px 1px #334eac;
  background-color: #E7F1FF;
  color: #7096D1;
  transform: scale(1.2);
  transition: all 0.8s;
}

.subject-header{
  font-size: 2rem;
  font-weight: 800;
}

.link-hti{
  font-size: 1rem;
  font-weight: 800;
  border-radius: 20px;
  margin: 10px 0;
  text-align: center;
  width: fit-content, 20%;
}

.link-hti:hover{
  color: blue;
  background-color: white;
  transition: all 1s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* End Header Links Section */

/* Start subjects Section */

.subjects-section-parent{
  height: fit-content;
}

.subjects-section{
    height: 80dvh, fit-content;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.subjects{
  height: 50px, fit-content;
  width: 80%;
  margin: 6px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 14px;
  background: linear-gradient(to bottom right, #6cb1da, #c8eaec);
  background-size: 400% 400%;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.subjects:hover{
  cursor: pointer;
  font-size: 1.4rem;
  background: linear-gradient(to top left, #6cb1da, #c8eaec);
  transition: all 1s;
}

.subjects a{
  color: #fff;
  font-weight: 800;
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
}

.subjects:hover{
  width: 85%;
  transform: scale(1.2);
}

.subjects:hover a{
  color: #063250;
  font-weight: 800;
  font-size: 110%;
}

/* End subjects Section */

.parent-slider{
  width: 100%;
}
